notebooks/
checkpoints/
wandb/
retrieve_results/
last_run_prepared/
outputs/
checkpoint
reasoning_log.json
instruct.md
.python-version
.venv
*__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.backup
*.swp
*.swo
*.tmp
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.manifest
*.spec
data/
archive/
env.sh
eval.sh
models/
data/
do_smt.ipynb
stage1_icl_test*.jsonl
stage1_test*.jsonl
instruction.md
sync.sh
train_v3_v4.sh
*.html
cslcli.conf
.ipynb_checkpoints
count_metadata_pattern.ipynb
hf_upload.py
configs/lookup_identifier_conf.yaml
src/lookup_identifier.py
src/check_coverage.py
src/download_hf_dataset.py
src/compare_datasets.py
src/analyze_pseudo_queries.py
hold_gpu.py