notebooks/
checkpoints/
wandb/
last_run_prepared/
.python-version
.venv
*__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.backup
*.swp
*.swo
*.tmp
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.manifest
*.spec
data/
